@import url(http://fast.fonts.net/cssapi/c9d7284c-e009-4d3d-946b-a341b24c6cd0.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

$campton-bold: 'Campton W00 Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
$campton-light: 'Campton W00 Light','Helvetica Neue',Helvetica,Arial,sans-serif;
$opensans: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
