$grey-dark: #33312d;
$grey: #666666;
$grey-light: #cac9c9;
$orange: #f89728;
$orange-dark: darken($orange, 10%);// $orange-dark: #e0691b;
$turq: #0fd2c8;
$yellow: #ffd300;
$pink: #f0005e;
$green: #9fcd5c;
$green-dark: darken($green, 10%);
$red: #a94442;
$red-dark: darken($red, 10%);

$base-text: #33312d;